
.login-panel {
  padding-top: 50px;
  padding-bottom: 50px;
}

.company-jumbo {
  font-size: 64px;
  line-height: 100px;
}

.subhead h3 {
  margin: 10px;
}

.login-panel .form-group {
  margin-top: 30px;
}

.login-panel .remind-password {
  margin-left: 20px;
}

.hidden-on-startup {
  display: none;
  visibility: hidden;
}

.login-credentials-info {
  margin-bottom: 10px;
  color: grey;
}


.message-panel {
  padding-top: 20px;
  padding-bottom: 0;
  display: none;
}

.message-panel .alert {
  margin-bottom: 0;
}

.main-panel {
  position: relative;
  z-index: 2;
  margin-top: 20px;
}

@media (min-width: 992px) {
  .main-panel {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px 1px rgba(10, 10, 10, .2);
  }
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }

  .navbar-form {
    display: none;
  }
}

.form-search {
  display: inline-block;
  margin-right: 20px;
}

.comment {
  color: #aaa;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.input-micro {
  width: 34px;
}

.inline-label {
  margin-left: 25px;
}

.nowrap {
  white-space: nowrap;
}

.hr-separation {
  margin-top: 20px;
}

.margin-top {
  margin-top: 10px;
}

.info-table {
  width: 100%;
}

.info-table tr td:FIRST-CHILD {
  color: #999;
  text-align: right;
  vertical-align: top;
  padding-right: 5px;
}

.btn-small {
  border-radius: 0;
}

.message-panel.success {
  background-color: #c9fdc9;
  margin-top: 10px;
  padding: 20px;
}

.message-panel.error {
  background-color: #ffc4c4;
  margin-top: 10px;
  padding: 20px;
}

.form-actions {
  background-color: white;
  border-top-color: #ccc;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 10px;
  padding-top: 10px;
}

.search-modal .modal-header {
  height: 25px;
}

.search-modal .modal-footer {
  padding-top: 8px;
  padding-bottom: 5px;
}

.main-header {
  display: none;
}

.visible-main-header > * {
  margin-right: 10px;
}

.visible-main-header > a {
  margin-top: -8px;
  margin-left: 10px;
}

.info-form input {
  cursor: default;
  border: 0;
  outline: 0;
  margin-top: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.info-form input:focus {
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.info-form .control-label {
  color: grey;
}

.info-form.form-horizontal .form-group {
  /*margin-bottom: 0;*/
}

.info-form input[readonly], .info-form input[disabled] {
  background-color: white;
}

.info-form label {
  cursor: default;
}

*[ng-click] {
  cursor: pointer;
}

.input-size-period {
  width: 120px;
}

.input-size-time {
  width: 50px;
}

.input-size-minutes {
  width: 25px;
}

.input-price {
  text-align: right;
}

td.print-type, th.print-type {
  width: 70px;
}


table.no-border td {
  border: 0 !important;
  background-color: white !important;
}

table.table-internal {
  margin-left: 40px;
}

td.no-hover {
  background-color: white !important;
}


#helpRegistration .modal-body {
  max-height: 740px;
}

input.ng-pristine.ng-invalid-required { border:1px solid Gold; }
input.ng-dirty.ng-valid { border:1px solid Green; }
input.ng-dirty.ng-invalid { border:1px solid Red; }
input.ng-dirty.ng-valid ~ span.ok { color:green; display:inline; }
input.ng-dirty.ng-invalid ~ span.ko { color:red; display:inline; }

.left-margin {
  margin-left: 10px !important;
}

header h3 {
  margin: 5px 0;
}

.help-icon {
  float: right;
  margin-right: -5px;
  margin-top: 9px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .help-icon {
    display: none;
  }
}

.relative {
  position: relative;
}

.navbar-inverse {
  box-shadow: 0 5px 10px 0 rgba(10, 10, 10, .2);
}

.navbar-inverse .loginfo {
  cursor: pointer;
}

.complex-menu {
  padding: 10px 15px;
}

.complex-menu > table > tbody > tr > td {
  border-top: 0;
}

.navbar-inverse .nav.loginfo > li > a:hover,
.navbar-inverse .nav.loginfo > li.open > a:hover {
  color: #6acdff;
}

.page-slide {
  position: absolute;
  left: 0;
  top: 10px;
}

.inline-form-text {
  display: inline-block;
  margin-top: 3px;
}

.dialog-detalis-table {
  margin-left: 40px;
  width: inherit;
}

table.details-table tr td:nth-child(1) {
  color: #999;
  text-align: right;
  white-space: nowrap;
  width: 33.33333333%;
  /*width: 80px;*/
}

table.details-table tr td {
  border-top: 0;
}

@media (max-width: 992px) {
  table.details-table tr td {
    padding-left: 15px;
    padding-right: 15px;
  }

  table.details-table tr td:nth-child(1) {
    padding-right: 15px;
  }
}

table.details-table {
  margin-bottom: 0;
}

table.user-info-table {
  pointer: initial;
  min-width: 300px;
}

.select2-container .select2-choice {
  min-width: 160px;
}

.hover-cond-visibility .hover-cond {
  visibility: hidden;
}

.hover-cond-visibility:hover .hover-cond {
  visibility: visible;
}

.hover-cond-visibility input[type="checkbox"].hover-cond:checked {
  visibility: visible;
}

div.full {
  margin: 0;
}

.form-section {
  margin-bottom: 30px;
}

.table .center, .table .center * {
  text-align: center;
}

.table .center * {
  margin-left: 0;
  display: inline;
}

.textarea-note {
  width:250px;
  padding: 0;
  border: 1px solid #ccc;
  margin-left: 0;
  margin-top: 5px;
}

.back-link {
  font-size: 22px;
  margin-top: 8px;
  margin-left: -40px;
  float: left;
}

@media (max-width: 1025px) {
  .back-link {
    display: none;
  }
}

.report-table h4 {
  margin-right: 10px;
}

.report-table ul {
  margin-left: 0;
}

.report-table li {
  min-width: 100px;
}

.report-table li:hover a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
}

.report-table li {
  list-style: none;
}

.report-table li:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
}

.report-table > tbody > tr > td:not(:last-child) {
  padding-right: 30px;
}

.btn-submit {
  margin-bottom: 25px;
}

.form-group[class*="houseNumber"] input.houseNumber,
.form-group[class*="houseNumber"] input.apartmentNumber {
  width: 60px;
}

.navbar .nav > li > a.fa-power-off {
  padding-right: 0;
}

.btn-above-list {
  margin-bottom: 15px;
}

.table td.functions,
.table th.functions {
  width:60px;
  text-align: right;
}

.table td.functions {
  padding: 0 5px;
}

.table td.functions *,
.table th.functions * {
  text-align: left;
}

.table.input-table input {
  width: 100%;
}

.table.input-table .number input {
  width: 80%;
}

.table.input-table th {
  white-space: nowrap;
  width: 20px;
}

.table.input-table input[type='text'] {
  margin-top: -1px;
  margin-bottom: -5px;
  border-radius: 0;
  -webkit-box-shadow: none;
  border-width: 0 0 1px 0;
  background-color: inherit;
  border-bottom-color: grey;
}

.table th.number,
.table td.number,
.table td.number input[type='text'] {
  white-space: nowrap;
  text-align: right;
}

.table.input-table td.summary {
  font-weight: bold;
}

.table.input-table td.invoice-summary {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 120%;
  border-top: 1px solid grey;
}

.big-icon {
  font-size: 19px;
}

hr.before-tabs {
  margin-bottom: 0;
}

.monospace {
  font-family: monospace;
}

.table td.mini {
  width: 20px;
}

.strong-text {
  font-weight: bold;
}

th.indent_100, td.indent_100 {
  padding-left: 100px;
}

.textarea-sms {
  width: 750px;
  resize: none;
}

.limited-height {
  max-height: 600px;
  overflow-y: auto;
}

.absolute-top-left {
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
}

.complex-date-chosen * {
  color: blue;
}

.complex-date label {
  margin-right: 10px;
}

footer .container {
  position: relative;
}

footer .icons {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 20px;*/
}

footer .icons * {
  font-size: 26px;
  line-height: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
}

footer .company-title {
  font-size: 26px;
}

.checkbox-column {
  width: 5px;
}

.accessLog-304 {
  color: #aaa;
}

.accessLog-404, .accessLog-401 {
  color: red;
}

.accessLog-undefined {
  color: #fc3;
}

.accessLog-200 {
  color: green;
}

.flot {
  margin: 10px auto;
}

.flot-height-100 {
  height: 200px;
  width: 100%;
  padding: 0px;
  position: relative;
}

.rounded-icon-box {
  width: 100%;
  margin: 10px;
  height: 95px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.rounded-icon-box .rounded-icon {
  display: inline-block;
  border: 2px solid cornflowerblue;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 32px;
  float: left;
  margin-right: 10px;
}

.rounded-icon-box .rounded-icon-info {
  display: inline-block;
}

.rounded-icon-box .rounded-icon .fa {
  color: cornflowerblue;
  display: block;
  line-height: 70px;
  font-size: 42px;
  margin: auto;
  text-align: center;
}

.rounded-icon-box .rounded-icon-value {
  font-size: 24px;
  margin-top: 5px;
}

.rounded-icon-box .rounded-icon-description {
  font-size: 16px
}


.nvtooltip h4 {
  margin: 5px;
}

.noteStatus-CLOSED .note-status {
  color: red;
}

.note-btn {
  margin-left: 5px;
  margin-bottom: 25px;
}

.noteStatus-CANCELLED * {
  color: #aaa;
}
