
<%@page import="pl.matsuo.core.model.organization.Person"%>
<%@page import="pl.matsuo.core.web.view.BootstrapRenderer"%>
<%!  
  BootstrapRenderer renderer = BootstrapRenderer.renderer();
  //String type = request.getParameter("type");
%>

<div class="row">
  <div class="col-md-12">
    <h4>Adres</h4>
  </div>
  
  <div class="col-md-6">
    <%= renderer.create(Person.class).render(
        "address.town",
        "address.zipCode",
        "address.gmina",
        "address.street",
        "address.houseNumber",
        "address.apartmentNumber") %>
  </div>
  
  <div class="col-md-6">
    <%= renderer.create(Person.class).render(
        "address.phone",
        "address.country",
        "address.email",
        "address.comment") %>
  </div>
</div>
