
<div ng-controller="UserListController" class="search-pane">

  <div simple-search query="query">
    <a class="btn btn-info" ng-click="addUser()">Dodaj użytkownika</a>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Lista użytkowników</h4>

      <table class="table table-condensed table-hover table-striped">
        <thead>
        <tr>
          <th>Login</th>
          <th>Imię i Nazwisko</th>
          <th>Ostatnio zalogowany</th>
          <th>Grupy</th>
          <th>Blokada</th>
          <th class="functions">Funkcje</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | filter:query" class="hover-cond-visibility" ng-class="user.blocked ? 'comment' : ''">
          <td>{{user.username}}</td>
          <td><a href="/#/organization/persons/{{user.person.id}}">{{user.person.firstName + " " + user.person.lastName}}</a></td>
          <td>{{user.lastLoginTime | date:'medium'}}</td>
          <td>{{ groups(user) }}</td>
          <td><i ng-show="user.blocked" class="text-red icon-circle"></i></td>
          <td class="functions">
            <div class="btn-group inline hover-cond pull-right">
              <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Akcje <span class="caret"></span></a>
              <ul class="dropdown-menu pull-right">
                <li><a ng-click="blockUser(user)">{{ user.blocked ? 'Odblokuj' : 'Zablokuj' }}</a></li>
                <li><a ng-click="editUser(user)">Edytuj</a></li>
                <li><a ng-click="changePassword(user)">Zmień hasło</a></li>
              </ul>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

