<div ng-controller="MenuCtrl" class="">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="homeLink()">Matsuo Core App</a>
    </div>

    <div class="collapse navbar-collapse" collapse="isCollapsed">

      <ul class="nav navbar-nav">
        <li ng-repeat="menuGroup in menuService.menu" class="dropdown">
          <a class="dropdown-toggle">
            <span  translate="{{menuGroup.title}}"></span><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="menuElement in menuGroup.elements" ng-class="!!menuElement.elements ? 'dropdown-submenu' : 'xxx'">
              <a ng-href="{{menuElement.href}}" translate="{{menuElement.title}}"></a>
              <ul class="dropdown-menu" ng-if="menuElement.elements">
                <li ng-repeat="subElement in menuElement.elements">
                  <a ng-href="{{subElement.href}}" translate="{{subElement.title}}"></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control search-query" placeholder="Search">
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right loginfo">
        <li class="dropdown">
          <a class="dropdown-toggle login" href="#">{{ displayUser() }}<i class="caret"></i></a>
          <div ng-controller="UserInfoPanelCtrl" class="dropdown-menu complex-menu">
            <span ng-include="'/views/base/user_info_panel.html'"></span>
          </div>
        </li>
        <li><a class="fa fa-power-off" ng-click="logoff()"></a></li>
      </ul>
    </div>
  </div>
</div>
