<div ng-controller="OrganizationUnitsController">


  <script type="text/ng-template" id="organization/add_company.html">
    <div class="modal-header">
      <h3>Dodaj firmę</h3>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">

        <div mt-form-part="pl.matsuo.core.model.organization.OrganizationUnit">
          <div mt-form-field="fullName" />
          <div mt-form-field="shortName" />
          <div mt-form-field="code" />
          <div mt-form-field="nip" />
        </div>

        <h4 class="comment">Adres</h4>

        <div mt-form-part="pl.matsuo.core.model.organization.OrganizationUnit">
          <div mt-form-field="address.town" />
          <div mt-form-field="address.zipCode" />
          <div mt-form-field="address.gmina" />
          <div mt-form-field="address.street" />
        </div>

        <div mt-form-part="pl.matsuo.core.model.organization.OrganizationUnit" mtf-inline="true">
          <div mt-form-field="address.houseNumber" />
          <div mt-form-field="address.apartmentNumber" />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="close()" class="btn btn-default" translate="cancel"></button>
      <button ng-click="save()" class="btn btn-primary" translate="add"></button>
    </div>
  </script>

  <div simple-search query="query" placeholder="Min. 5 znaków" >
    <span class="label label-info left-margin" ng-if="searchQueryDefined()">Znaleziono {{filtered.length}} elementów</span>
  </div>

  <form>
    <table class="table table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th>Pełna nazwa</th>
          <th>Kod</th>
          <th>Miasto</th>
          <th>Umowa</th>
        </tr>
      <thead>
      <tbody>
        <tr ng-repeat="organizationUnit in organizationUnits" ng-class="{comment: organizationUnit.archive}">
          <td><a href="#/organization/organizationUnit/{{organizationUnit.id}}">{{organizationUnit.fullName}}</a></td>
          <td>{{organizationUnit.code}}</td>
          <td>{{organizationUnit.address.town}}</td>
          <td><i class="fa-check text-green" ng-show="organizationUnit.serviceAgreement"></i></td>
        </tr>
      </tbody>
    </table>
  
    <div>
      <a class="btn btn-primary" ng-click="addOrganizationUnit()">Nowa firma</a>
    </div>
  </form>
</div>
