<form class="login-panel" ng-submit="login()">
  <div class="row">
    <div class="col-sm-12">
      <legend>Logowanie</legend>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div ng-show="showWrongPasswordMessage" class="alert alert-danger">
        <button type="button" class="close" ng-click="hideWrongPasswordMessage()">&times;</button>
        Błędny login bądź hasło.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div id="login" class="form-group">
        <label class="control-label {{errorClass}}" for="entity_login">Login (email)</label>
        <input class="form-control" id="entity_login" type="text" name="login" ng-model="loginData.username">
      </div>

      <div id="password" class="form-group">
        <label class="control-label {{errorClass}}" for="entity_password">Hasło</label>
        <input class="form-control" id="entity_password" type="password" name="password" ng-model="loginData.password">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="control-group">
        <div class="controls">
          <button type="submit" name="login_submit" class="btn btn-primary">Zaloguj się</button>
          <a ng-click="createAccount()" class="btn btn-info">Załóż konto</a>
          <a ng-click="remindPassword()" class="btn btn-link">Zapomniałem hasła</a>
        </div>
      </div>
    </div>
  </div>
</form>