<script type="text/ng-template" id="/views/login/remindPassword.html">
</script>

<form class="form-horizontal login-panel" ng-submit="login()">
  <legend>Logowanie</legend>

  <div class="row">
    <div class="span6">
      <div ng-show="showWrongPasswordMessage" class="alert alert-error">
        <button type="button" class="close" ng-click="hideWrongPasswordMessage()">&times;</button>
        Błędny login bądź hasło.
      </div>

      <div id="login" class="control-group">
        <label class="control-label {{errorClass}}" for="entity_login">Login</label>
        <div class="controls">
          <input id="entity_login" type="text" name="login" ng-model="loginData.username" tabindex="1">
        </div>
      </div>

      <div id="password" class="control-group">
        <label class="control-label {{errorClass}}" for="entity_password">Hasło</label>
        <div class="controls">
          <input id="entity_password" type="password" name="password" ng-model="loginData.password" tabindex="2">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" tabindex="3" name="login_submit" class="btn">Zaloguj się</button>
          <a ng-click="remindPassword()" class="remind-password">Zapomniałem hasła</a>
        </div>
      </div>
    </div>
  </div>
</form>