<div>
  <div class="modal-header">
    <h4>Zapomniałem hasła</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="form-group col-sm-12">
          <div class="login-credentials-info {{errorClass}}">Podaj nazwę użytkownika któremu zostanie przesłany link aktywacyjny</div>
        </div>
      </div>
      <div class="row">
        <div id="login" class="form-group col-sm-6">
          <label class="control-label" for="entity_login">Login</label>
          <input class="form-control" id="entity_login" type="text" name="login" ng-model="remind.username">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default cancel" ng-click="close()">{{ 'cancel' | translate }}</button>
    <button class="btn btn-primary save" ng-click="remindPassword()">{{ 'sendLink' | translate }}</button>
  </div>
</div>
