<div>
  <div class="modal-header">
    <h4>Zapomniałem hasła</h4>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="control-group">
        <div class="controls">
          <div class="login-credentials-info {{errorClass}}">Podaj nazwę użytkownika któremu zostanie przesłany link aktywacyjny</div>
        </div>
      </div>
      <div id="login" class="control-group">
        <label class="control-label" for="entity_login">Login</label>
        <div class="controls">
          <input id="entity_login" type="text" name="login" ng-model="remind.username">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn cancel" ng-click="close()">{{ 'cancel' | translate }}</button>
    <button class="btn btn-primary save" ng-click="remindPassword()">{{ 'sendLink' | translate }}</button>
  </div>
</div>
