<div>
  <div class="modal-header">
    <h4 translate="dialog.remindPassword.title"></h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="form-group col-sm-12">
          <div class="login-credentials-info {{errorClass}}" translate="dialog.remindPassword.provideUserNameText"></div>
        </div>
      </div>
      <div class="row">
        <div id="login" class="form-group col-sm-6">
          <label class="control-label" for="entity_login" translate="login"></label>
          <input class="form-control" id="entity_login" type="text" name="login" ng-model="remind.username">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default cancel" ng-click="close()" translate="cancel"></button>
    <button class="btn btn-primary save" ng-click="remindPassword()" translate="dialog.remindPassword.sendLink"></button>
  </div>
</div>
