<div>
  <div class="modal-header">
    <h4>Zmiana hasła</h4>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div mt-form-part="pl.matsuo.core.web.controller.user.IChangePasswordParams">
        <div mt-form-field="newPassword" />
        <div mt-form-field="confirmationPassword" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn cancel" ng-click="close()">{{ 'cancel' | translate }}</button>
    <button class="btn btn-primary save" ng-click="save()">{{ 'save' | translate }}</button>
  </div>
</div>
