
<div ng-controller="AccessLogListCtrl" class="search-pane">

  <div simple-search query="query">
      <a class="btn btn-primary" ng-click="refresh()">Odśwież</a>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Czas</th>
            <th>Login</th>
            <th>IP</th>
            <th>Typ</th>
            <th>Status</th>
            <th>Rządanie</th>
            <th>Parametry</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="accessLog in elements | orderBy:'-id'" ng-class="accessStatusStyle(accessLog)">
            <td>{{ accessLog.id }}</td>
            <td class="nowrap">{{ accessLog.createdTime | formatDateTime }}</td>
            <td title="{{ accessLog.user.person.firstName }} {{ accessLog.user.person.lastName }}">{{ accessLog.user.username }}</td>
            <td>{{ accessLog.ip }}</td>
            <td>{{ accessLog.method }}</td>
            <td>{{ accessLog.status }}</td>
            <td>{{ accessLog.request }}</td>
            <td>{{ accessLog.parameters }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>     
</div>

